@page "/"
@page "/gridpage"
@attribute [StreamRendering]

<PageTitle>GridPage</PageTitle>
<h3>GridPage</h3>

<DataGrid TItem="Row" Filterable="true" Data="rows">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Row.Name)" />
    </DataGridColumns>

</DataGrid>

@code {
    private class Row
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    private List<Row> rows = new List<Row>() {
        new Row() { Id= 1,Name="aaa" },
        new Row() { Id= 2,Name="bbb" },
        new Row() { Id= 3,Name="abc" }
    };
}
